# Segredos
.env

# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
cp.txt

# Node
node_modules/
dist/
*.tsbuildinfo
npm-debug.log*

# IDE
.idea/
.vscode/
*.iml
.settings/
.project
.classpath

# Sistema
.DS_Store
Thumbs.db
